<!DOCTYPE html>
<html>

<head>
    <title>Service Request</title>
</head>

<body>

    <h1>Service Request</h1>


    <form action="/service-request" method="GET">
    <h2>Look Up an Existing Service Request</h2>

    
        <label>Service Request Number:</label>
        <input type="text" name="sr_number">
        <button type="submit">Look Up</button>

    </form>

        <h2>Create a new Service Request</h2>

        <form action="/service-request" method="POST">

            <label>Customer Name:</label>
            <input type="text" name="customer_name">
        
            <br><br>

            <label>Company Name:</label>
            <input type="text" name="company_name">
        
            <br><br>
        
            <label>Email:</label>
            <input type="email" name="email">
        
            <br><br>
        
            <label>Priority:</label>
        
            <select name="priority">
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
                <option value="Critical">Critical</option>
            </select>
        
            <br><br>
        
            <label>Issue Description:</label>
            <br>
        
            <textarea name="issue" rows="6" cols="50"></textarea>
        
            <br><br>
        
            <button type="submit">Create Service Request</button>
        
    
        
    </form>



    </body>
    </html>